.greeting{
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 0%;
    font-size: 25px;
}
.name{
    margin-top: 0%;
    margin-left: 20%;
    margin-bottom: 0%;
    font-size: 70px;
}
.statement{
    margin-top: 0%;
    margin-left: 20%;
    margin-bottom: 0%;
    font-size: 70px;
}
.description{
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 40%;
    font-size: 25px;
    padding-bottom: 60px;
}
.suspense{
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 40%;
    font-size: 36px;
    padding-bottom: 150px;
}

.Learn{
    margin-top: 0%;
    margin-left: 19%;
    margin-right: 40%;
    font-size: 30px;
    color:white;
}
.IWKL{
    background-color: black;
    background-image: url("s.png");
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 30px;
}

.dipper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
}
.star1{
    height: 40px;
    padding-left: 20%;
}
.star2{
    height: 60px;
    padding-left: 10%;
}
.star3{
    height: 80px;
    padding-left: 50%;
}
.star4{
    height: 20px;
    padding-left: 20%;
}
.star5{
    height: 50px;
    padding-left: 80%;
}
.star6{
    height: 90px;
    padding-left: 35%;
}
.star7{
    height: 110px;
}
.star8{
    height: 45px;
    padding-left: 70%;
}
.star9{
    height: 85px;
    padding-left: 3%;
}
.starBut{
    margin-left: 90%;
    border-radius: 53px;
    appearance: none;
    border:none;
    cursor: pointer;
    background-color: transparent; 
    color:aliceblue;
    text-align: center;
}

.starBut:hover{
    background-color: #e7e7e7;
    
}

