body{
    margin: 0%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 45px;
}
header button{
    background-color: black;
    appearance: none;
    border:none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-left: 20px;
} 
header button:hover{
    color: #e99b7e;
}
.NavButtons{
    margin-top: .5%;
    justify-items: center;
    margin-right: 150px;
    color: white;
}
.Logo{
    padding-top: 2px;
    height: 37px;
}
.LogoBut{
    margin-left: 100px;
    width: 60px;
}
